/******
font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif;
******/

body {
  padding-top: 80px;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  color: #000000;
}


/****** text and anchors font & decoration ******/
h3 {
  font-family: 'Abril Fatface', cursive;
}

p.p-title {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.35em;
}

.index-logo {
  font-family: 'Abril Fatface', cursive;
  color: #000000;
  text-decoration: none;
}

.footer > a {
  color: #000000;
  text-decoration: none;
  font-size: 1.20em;
  margin-left: 10px;
  margin-right: 10px;
}



/****** fixed navbar ******/
.navbar {
  background-color: #FFFFFF;
  min-height: 50px;
  min-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* <LC> */
.navbar-header {
  position: fixed;
  top: 18px;
  left: 35px;
}

.navbar-header > a,
.navbar-header > a:link,
.navbar-header > a:active,
.navbar-header > a:visited,
.navbar-header > a:hover {
  font-family: 'Abril Fatface', cursive;
  color: #000000;
  text-decoration: none;
  font-size: 1.20em;
}

.navbar-header > a > .fa,
.navbar-header > a:link > .fa,
.navbar-header > a:active > .fa,
.navbar-header > a:visited > .fa,
.navbar-header > a:hover > .fa {
  color: #AE3745;
  text-decoration: none;
}

/* hamburger dropdown */
.fixed-dropdown {
  position: fixed;
  top: 18px;
  right: 25px;
}

.dropdown > a,
.dropdown > a:link,
.dropdown > a:active,
.dropdown > a:visited,
.dropdown > a:hover {
  color: #000000;
  text-decoration: none;
  background-color: #FFFFFF;
}

.dropdown-menu {
  border-radius: 0;
}

.dropdown-menu > li > a,
.dropdown-menu > li > a:link,
.dropdown-menu> li > a:active,
.dropdown-menu > li > a:visited,
.dropdown-menu> li> a:hover {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 0.88em;
  /*margin-bottom: 15px;*/
}

.dropdown-header {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.15em;
}

.dropdown-margin {
  margin-bottom: 10px;
}

/* dropdown social icons */
.list-group-item {
  border: none;
}

.list-group-item > a > .fa {
  color: #AE3745;
  text-decoration: none;
}


/****** header, content, push divider ******/
.page-header {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  /*border: 1px solid red;*/
}

.container {
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  /*border: 1px solid black;*/
  /*padding-top: 80px;*/
}

.col-xs-12 {
  /*border: 1px solid black;*/
  padding: 0;
}

.push {
  height: 25px;
  /*border: 1px solid blue;*/
}

.overflow {
  overflow: hidden;
}

.footer {
  height: 40px;
  /*border: 1px solid red;*/
}


/****** index.html ******/
.index-pic {
  position: relative;
}

.index-logo {
  z-index: 1;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/****** projects.html ******/
.glyphicon-arrow-right {
  text-decoration: none;
  color: black;
}

.projects-hr {
  width: 20%;
  border-width: 1px;
  /*border-color: #927EB4;*/
  margin-left: 0;
  padding: 0;
}


/****** aboutme.html ******/
.aboutme-hr {
  width: 50%;
  border-width: 1px;
  /*border-color: #927EB4;*/
}


/****** projects.html + aboutme.html ******/
.vertical-align {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.add-padding {
  padding: 10px;
}


/****** Small Devices, Tablets, and Up ******/
@media only screen and (min-width : 768px) {
  .fixed-dropdown {
    position: fixed;
    top: 18px;
    right: 55px;
  }
}
