/*
font-family: 'Playfair Display', serif;
font-family: 'Martel', serif;
*/

.bold {
  font-weight: 700;
}

/****** Basic Body, Row, Column, Grid Formatting ******/

html, body {
  height: 100%;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

.wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 2px;
  padding-right: 2px;
  /*border: 1px solid blue;*/
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container-fluid {
  /*border: 1px solid yellow;*/
  height: 100%;
}

.navi {
  position:fixed;
  right: 0;
  top: 30px;
  z-index: 1;
  margin-right: 30px;
}

.row {
  /*border: 1px solid red;*/
  padding: 0;
  margin: 0;
}

.row [class*="col-"]{
  /*border: 1px solid green;*/
  padding: 0;
  margin: 0;
}

.col-xs-12 {
  /*border: 1px solid green;*/
  padding: 0;
  margin: 0;
}

.projects .row [class*="col-"]{
  /*border: 1px solid green;*/
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about [class*="col-"] {
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px; 
}

.logo {
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer {
  margin-top: 20px;
}


/****** Media Queries ******/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    /*border: 1px solid blue;*/
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  .col-xs-12 {
    /*border: 1px solid green;*/
    padding: 0;
    margin: 0;
  }

  .navi {
    position:fixed;
    right: 0;
    top: 30px;
    z-index: 1;
    margin-right: 30px;
  }

  .about [class*="col-"] {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px; 
  }

  .logo {
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer {
    margin-top: 15px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 130px;
    padding-right: 130px;
    /*border: 1px solid blue;*/
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  .col-xs-12 {
    /*border: 1px solid green;*/
    padding: 0;
    margin: 0;
  }

  .navi {
    position:fixed;
    right: 0;
    top: 30px;
    z-index: 1;
    margin-right: 30px;
  }

  .about [class*="col-"] {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px; 
  }

  .logo {
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer {
    margin-top: 15px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 130px;
    padding-right: 130px;
    /*border: 1px solid blue;*/
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  } 

  .content {
    display: table;
  }

  .content [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }

  .navi {
    position:fixed;
    right: 0;
    top: 30px;
    z-index: 1;
    margin-right: 55px;
  }

  .p1 {
    height: 360px;
    width: 320px;
    background-color: red;
  }

  .p2 {
    height: 180px;
    width: 640px;
    background-color: blue;
  }

  .aboutme {
    height: 180px;
    width: 320px;
    background-color: black;
  }

  .p3 {
    height: 180px;
    width: 320px;
    background-color: yellow; 
  }

  .p4 {
    height: 240px;
    width: 560px;
    background-color: green;
  }

  .p5 {
    height: 240px;
    width: 400px;
    background-color: pink;
  }
}



/****** Dropdown Menu Formatting ******/
ul li {
  list-style: none;
}

.dropdown-menu {
  width: 250px;
  border-radius: 0;
}

.dropdown-menu li #logo {
  /*font-family: 'Playfair Display', serif;*/
  font-weight: 700;
}

.list-group, .list-group-item {
  border-width: 0 0 0 0;
  margin: 0;
}


/****** Social Icons ******/
.menu-icons {
  margin: 0;
  background-color: #000000;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  display: inline-block;
  padding-top: 2px;
}

/* footer icons */
.icons {
  background-color: #000000;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  display: inline-block;
  padding-top: 2px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}