/****** Basic Body, Row, Column, Grid Formatting ******/

html, body {
  height: 100%;
  background-color: #000000;
  padding: 0;
}

.wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 130px;
  padding-right: 130px;
  border: 1px solid blue;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container-fluid {
  border: 1px solid yellow;
  height: 100%;
}

.row {
  border: 1px solid red;
  padding: 0;
  margin: 0;
}

.row [class*="col-"]{
  border: 1px solid green;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
}

/* Custom, iPhone Retina, iPhone Plus */ 
@media only screen and (max-width : 767px) {
  .wrapper {
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid blue;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  .col-xs-12 {
    border: 1px solid green;
    padding: 0;
    margin: 0;
  }

  .navi {
    position:fixed;
    right: 0;
    top: 30px;
    z-index: 1;
    margin-right: 30px;
  }
/*  .img-responsive {
    height: auto;
    width: auto;
  }*/
}

/* Custom, iPad Pro, Desktop */
@media only screen and (min-width : 769px) {
  .content {
    display: table;
  }

  .content [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }

  .navi {
    position:fixed;
    right: 0;
    top: 30px;
    z-index: 1;
    margin-right: 55px;
  }
}

/****** Content Style Formatting ******/
ul li {
  list-style: none;
}




/********** Sidebar Navigation **********/

/* Hide for mobile, show later */
/*.sidebar {
  display: none;
}*/

/*@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #B3B3B3;
    border-right: 1px solid yellow;
  }
}*/
