html {
	height: 100%;
}

body {
  position: relative;
  height: 100%;
}

.wrap {
	height: 100%;
	/*width: 100%;*/
  margin: 0;
}

#section1 {
	/*height: 600px;*/
	color: #292075; 
	/*background-color: #1E88E5;*/
	/*border: 1px solid red;*/
}

#section2 {
	/*height: 600px;*/
	color: #000000; 
	/*background-color: #FFFFFF;*/
	border: 1px solid red;
}

#section3 {
	/*height: 600px;*/
	color: #292075; 
	/*background-color: #ff9800;*/
	border: 1px solid red;
}

#section4 {
	/*height: 600px;*/
	color: #292075; 
	/*background-color: #00bcd4;*/
	border: 1px solid red;
}

.col-md-6 {
	border: 1px solid black;
	padding: 0;
}

/* bootstrap flexbox - no support for IE */
/*.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}*/

/* works for now.. be mindful of mobile */
/*.row.section {
	overflow: hidden;
}

.row.section [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}*/

/* works but not responsive */
/*.section {
  min-height: 100%;
  height: 100%;
}
.col-xs-6 {
  height: 100%;
  min-height: 100%;
}*/

/* same height http://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height */
/*.row {
    display: table;
}

.row.section [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}*/
/* same height */

/* table */
/*
.section {
	display:table;
}
.row {
	height: 100%;
	display: table-row;
}
.picture {
  display: table-cell;
  float: none;
}
*/

/*
.img {
	height: auto;
	width: 100%;
}*/

/*.row1 {
	background: url("../images/bg-1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row3 {
	background: url("../images/bg-2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/