/*
font-family: 'Roboto', sans-serif;
font-family: 'Rozha One', serif;
*/

body {
  padding-top: 80px;
  position: relative;
}

.navbar {
  background-color: #FFFFFF;
  min-height: 50px;
  min-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.navbar-header {
  position: fixed;
  top: 18px;
  left: 35px;
}

.fixed-dropdown {
  position: fixed;
  top: 18px;
  right: 25px;
}

.page-header {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  /*border: 1px solid red;*/
}

.push {
  height: 25px;
  /*border: 1px solid blue;*/
}

.container {
  height: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  /*border: 1px solid black;*/
  /*padding-top: 80px;*/
}

.col-xs-12 {
  /*border: 1px solid black;*/
  padding: 0;
}

.overflow {
  overflow: hidden;
}

.footer {
  height: 40px;
  /*border: 1px solid red;*/
}

/* index.html */
.index-pic {
  position: relative;
}

.index-logo {
  z-index: 1;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* projects.html */
.projects-hr {
  width: 20%;
  border-width: 1px;
  border-color: #927EB4;
  margin-left: 0;
  padding: 0;
}

/* aboutme.html */
.aboutme-hr {
  width: 50%;
  border-width: 1px;
  border-color: #927EB4;
}

/* projects.html + aboutme.html */
.vertical-align {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.add-padding {
  padding: 10px;
}


/* Small Devices, Tablets, and Up */
@media only screen and (min-width : 768px) {
  .fixed-dropdown {
    position: fixed;
    top: 18px;
    right: 55px;
  }
}
