/*
font-family: 'Roboto', sans-serif;
font-family: 'Rozha One', serif;
*/

/****** Basic Body, Row, Column, Grid Formatting ******/

html, body {
  height: 100%;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.wrapper {
  background-color: #FFFFFF;
  padding: 30px 2px 30px 2px;
  /*border: 1px solid blue;*/
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  /*border: 1px solid yellow;*/
  height: 100%;
  background-color: #FFFFFF;
}

.top-left {
  position: fixed;
  top: 30px;
  left: 0;
  margin-left: 30px;
}

div.navi {
  position: fixed;
  right: 0;
  top: 30px;
  z-index: 1;
  margin-right: 30px;
  /*width: 100%;*/
  background-color: #FFFFFF;
}

.row,
.row [class*="col-"],
.col-xs-12 {
  /*border: 1px solid red;*/
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
}

.index,
.projects,
.about {
  margin-top: 30px;
}

.projects .row [class*="col-"],
.about [class*="col-"] {
  /*border: 1px solid green;*/
  padding: 0;
  margin-bottom: 10px;
}

.bold {
  font-family: 'Rozha One', serif;
  font-size: 1.2em;
}

.logo {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Rozha One', serif;
  font-size: 1.5em;
  background-color: #FFFFFF;
}

.footer {
  margin-top: 20px;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 0.6em;
}

.glyphicon-menu-hamburger,
div > .fa-angle-left,
div > .fa-angle-right {
  color: #927EB4;
}

.hr1 {
  width: 50%;
  border-width: 1px;
  border-color: #927EB4;
}

.hr2 {
  width: 20%;
  border-width: 1px;
  border-color: #927EB4;
  margin-left: 0;
}

/****** Media Queries ******/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .wrapper {
    background-color: #FFFFFF;
    padding: 30px 50px 30px 50px;
    /*border: 1px solid blue;*/
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  .index,
  .projects {
    margin-top: 50px;
  }

  .about {
    margin-top: 0;
  }

  .col-xs-12 {
    /*border: 1px solid green;*/
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
  }

  .navi {
    position:fixed;
    right: 0;
    top: 30px;
    z-index: 1;
    margin-right: 30px;
  }

  .about [class*="col-"] {
    padding: 0;
    margin-bottom: 10px;
  }

  .logo {
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Rozha One', serif;
    font-size: 1.5em;
  }

  .footer {
    margin-top: 15px;
  }
}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .wrapper {
    background-color: #FFFFFF;
    padding: 20px 130px 20px 130px;
    /*border: 1px solid blue;*/
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  .content {
    display: table;
  }

  .content [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }

  .col-xs-12 {
    /*border: 1px solid green;*/
    padding: 0;
    margin: 0;
  }

  .navi {
    position:fixed;
    right: 0;
    top: 30px;
    z-index: 1;
    margin-right: 30px;
  }

  .index,
  .about {
    margin-top: 0;
  }

  .about [class*="col-"] {
    padding: 0;
    margin-bottom: 10px;
  }

  .logo {
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Rozha One', serif;
    font-size: 1.5em;
  }

  .footer {
    margin-top: 15px;
  }
}



/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .wrapper {
    background-color: #FFFFFF;
    padding: 20px 130px 20px 130px;
    /*border: 1px solid blue;*/
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

  .content {
    display: table;
  }

  .content [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }

  .navi {
    position:fixed;
    right: 0;
    top: 30px;
    z-index: 1;
    margin-right: 55px;
  }

  .p1 {
    height: 360px;
    width: 320px;
    background-color: red;
  }

  .p2 {
    height: 180px;
    width: 640px;
    background-color: blue;
  }

  .aboutme {
    height: 180px;
    width: 320px;
    background-color: black;
  }

  .p3 {
    height: 180px;
    width: 320px;
    background-color: yellow;
  }

  .p4 {
    height: 240px;
    width: 560px;
    background-color: green;
  }

  .p5 {
    height: 240px;
    width: 400px;
    background-color: pink;
  }
}



/****** Dropdown Menu Formatting ******/
ul li {
  list-style: none;
}

.dropdown-menu {
  width: 250px;
  border-radius: 0;
}

.dropdown-menu li #logo {
  font-family: 'Rozha One', serif;
  font-size: 1.5em;
}

.list-group,
.list-group-item {
  border-width: 0 0 0 0;
  margin: 0;
  text-decoration: none;
}



/****** Social Icons ******/
.menu-icons {
  margin: 0;
  border: 1px solid #927EB4;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  display: inline-block;
  padding-top: 2px;
}

/* footer icons */
.icons {
  border: 1px solid #927EB4;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  display: inline-block;
  padding-top: 2px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}



/****** Links ******/
.list-group-item a .bold {
  font-family: 'Rozha One', serif;
  font-size: 1.15em;
}

.projects .list-group-item a {
  font-family: 'Roboto', sans-serif;
  font-size: 0.85em;
}

.top-left > a, .top-left > a:link, .top-left > a:hover, .top-left > a:visited, .top-left > a:active {
  text-decoration: none;
}

.top-left > a > span, .top-left > a:link > span, .top-left > a:hover > span, .top-left > a:visited > span, .top-left > a:active > span {
  color: #000000;
}

.dropdown-menu .list-group-item a, .dropdown-menu .list-group-item a:hover, .dropdown-menu .list-group-item a:active, .dropdown-menu .list-group-item a:visited {
  text-decoration: none;
  background-color: #FFFFFF;
}

.logo > div > a, .logo > div > a:active, .logo > div > a:hover, .logo > div > a:visited {
  color: #000000;
  text-decoration: none;
}

ul.projects li a, ul.projects li a:hover, ul.projects li a:visited, ul.projects li a:active {
  color: #927EB4;
  text-decoration: none;
}

a:hover > .fa, a:visited > .fa, a:active > .fa, a > .fa, a:link > .fa,
.menu-icons > a > i, .menu-icons > a:link > i, .menu-icons > a:hover > i, .menu-icons > a:active > i, .menu-icons > a:visited > i {
  text-decoration: none;
  color: #927EB4;
  background-color: #FFFFFF;
}
